[user]
	name = roc
	email = roc@imroc.cc
[credential]
	helper = store
[core]
	excludesfile = ~/.gitignore_global
	ignorecase = true
	quotepath = false
	pager = delta
	hooksPath = /Users/roc/.git-hooks
[include]
	path = ~/.gitalias
[color]
	ui = auto
[init]
	defaultbranch = main
